button{
    font-size: 30px;
    padding: 40px;
    margin: auto;
    row-gap: 30px;
    flex-direction: row;
    box-shadow: 2px 2px  2px  rgb(25, 156, 208);
}
button{
    font-size:30px;
    border-radius: 6px;
}
h1{

    text-shadow: 2px 2px red;
}

